<div class="flex min-h-screen">
  <!-- Sidebar -->
  <div
    [ngClass]="[
      'bg-primary',
      'text-primary-foreground',
      'transition-all',
      'duration-300',
      'flex',
      'flex-col',
      'fixed',
      'md:static',
      'h-full',
      'inset-y-0',
      'left-0',
      'z-50',
      'bg-white',
      isCollapsed
        ? 'w-16 -translate-x-full md:translate-x-0'
        : 'w-64 translate-x-0'
    ]"
  >
    <app-sidebar
      [isCollapsed]="isCollapsed"
      (onToggle)="isSidebarCollapsed()"
    ></app-sidebar>
  </div>
  <div
    *ngIf="!isCollapsed"
    class="md:hidden fixed inset-0 z-40 bg-[#00000051]"
    (click)="isSidebarCollapsed()"
  ></div>

  <!-- Main Content -->
  <div class="flex-1 flex flex-col md:ml-0">
    <app-topbar (toggleSidebar)="isSidebarCollapsed()"></app-topbar>
    <!-- <h1 class="text-red-500">Hello world</h1> -->
    <main class="flex-1 p-6 overflow-auto">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
